<template>
  <div class="{{dashCase name}}-main">
    this {{name}} page
  </div>
</template>

<script lang='ts' setup name="{{camelCase name}}">



</script>
<style scoped lang='less'>
.{{dashCase name}}-main{

}
</style>
<style lang='less'>
.{{dashCase name}}-main{
    
}
</style>